<nav class="navbar navbar-default">
	<form action='/auth/facebook' method="GET" id='login' class='navbar-form navbar-right'>
			<button type='submit' class='btn btn-submit btn-raised form-control'>Sign In</button>
	</form>
</nav>