<nav class="navbar navbar-default">
	<form action='/login' id='login' class='navbar-form navbar-right'>
			<input type='text' name='username' placeholder='Enter Username' class='form-control' required='true'>
			<button type='submit' class='btn btn-submit btn-raised form-control'>Log In</button>
	</form>
</nav>