<form id='addTwotte' action='/addTwotte' class='form-horizontal'>

	<div class='panel-footer message' name='message' id ="authorOfTwotteWelcome">Welcome, {{name}}!
	</div>
	<textarea placeholder='Your Twoot Here' id="messageInput" class='form-control' required='true'></textarea>
	<button type='submit' id="buttonBoom" class='btn btn-success btn-raised form-control'>Submit</button>

</form>
