<!-- When logged in -->

<!-- Nav for you user to log out -->
<div class="logStatus">
	{{> navigationloggedoutheader}}
</div>

<!-- twotte form submit -->
{{> twottesubmit}}

<!-- list of twottes -->
{{> newtwotte}}

<!-- list of authors -->
<div class="authorsList">
	{{> newauthor}}
</div>