<!-- When not logged in -->

<!-- Nav for you user to log in -->
<div class="logStatus">
	{{> navigationheader}}
</div>

<!-- list of twottes -->
{{> newtwotte}}

<!-- list of authors -->
<div class="authorsList">
	{{> newauthor}}
</div>