<div class="logStatus">
	{{> navigationheader}}
</div>

{{> welcometitlewithlogo}}

<div class="newForm">
	{{> twottesubmit}}
</div>

{{> newtwotte}}

<div class="authors">
	{{> authorswithlogo}}
</div>

<div class="authorsList">
	{{> newauthor}}
</div>